@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {

  --white: #ffffff;
  --lavender-web: #e8eaf8;
  --misty-rose: #fae2e0;
  --timberwolf: #e2dadb;
  --platinum: #dae2df;
  --desert-sand: #e3c4b0;
  --french-gray: #b4b8c5;
  --cadet-gray: #9da2af;
  --ash-gray: #a3a8a6;
  --silver: #a4a198;
  --paynes-gray: #556b7c;
  --dim-gray: #6d696a;
  --taupe-gray: #8d818c;
  --jet: #444140;
  --rich-black: #0d1e2b;

  font-family: 'Inter Tight', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--jet);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--jet);
    background-color: var(--white);
  }
}

a {
  font-weight: 500;
  color: var(--platinum);
  text-decoration: inherit;
}

a:hover {
  color: var(--taupe-gray);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--french-gray);
  color: var(--dim-gray);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
}

button:hover {
  border-color: var(--french-gray);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


input[type=text],
input[type=email],
input[type=url],
input[type=tel],
select,
textarea {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid var(--timberwolf);
  border-radius: 0.25rem;
  resize: vertical;
}

label {
  padding: 0.75rem 0.75rem 0.75rem 0;
  display: inline-block;
  color: var(--dim-gray);
}

.container {
  width: 30rem;
  height: 33rem;
  border-radius: 0.3rem;
  background-color: var(--misty-rose);
}

.page {
  color: var(--jet);
  width: 28rem;
  height: 30rem;
  border-radius: 0.3rem;
  background-color: var(--misty-rose);
}

.col1 {
  text-align: left;
  float: left;
  width: 25%;
  margin-top: 0.3rem;
}

.col2 {
  float: left;
  width: 75%;
  margin-top: 0.3rem;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col1,
  .col2,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}