@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #444140;
    --background: #e8eaf8;
    --primary: #8d818c;
    --secondary: #e2dadb;
    --accent: #556b7c;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #bfbcbb;
    --background: #444140;
    --primary: #7e727d;
    --secondary: #251d1e;
    --accent: #8399aa;
  }
}

:root {
  font-family: 'Inter Tight', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent);
}

body {
  /* min-width: 320px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-shadow: 1px 1px 3px rgba(211, 210, 210, 0.76);
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 2px solid transparent;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  box-shadow: 10px 10px 20px #cacaca,
    -10px -10px 20px #f6f6f6;
}

button:hover {
  border-color: var(--text);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.add-entry-button {
  border: 1px solid transparent;
  font-size: .75em;
  font-weight: 400;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.col1 {
  text-align: left;
  float: left;
  width: 25%;
  margin-top: 0.3rem;
}

.col2 {
  float: right;
  width: 75%;
  margin-top: 0.3rem;
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  resize: vertical;
}

label {
  /* padding: 0.25rem 0.25rem 0.25rem 0; */
  display: inline-block;
  width: 100%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}